.navbar {
 display: flex;
justify-content: space-around;
  overflow: hidden;
  background-color: tan;
}

.navbar a {
  
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.vakantiebestemmingen {

justify-content: center;    
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 23px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: tan;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}



.groottebehouden {
display: flex;
flex-wrap: wrap;
}

.groottebehouden  {
    flex-shrink: 5;
}

.groottenietbehouden {
 display: flex;
flex-wrap: wrap; 
}

.Anderefotos {
display: flex;
flex-wrap: wrap;
}